:local .list {
    list-style: none;
}

:local .btn {
    font-size: 2rem;
    background: hotpink;
    border-radius: 8px;
    border: solid 2px darkmagenta;
    padding: 10px;
    margin: 10px 20px;
}